body{
	margin: 0;
	padding: 0;
	background: url(pic1.jpg);
	background-size: cover;
	background-position: top;
	font-family: sans-serif;
}
.LoginBox{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 320px;
	height: 420px;
	box-sizing: border-box;
	background: #000;
	color: #fff;
	padding: 70px 30px;

}
.avatar{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	position: absolute;
	top:-50px;
	left: calc(50% - 50px);

}
h1{
	margin: 0;
	padding: 0 0 20px;
	text-align: center;
	font-size: 22px;


}
.LoginBox p{
	margin: 0;
	padding: 0;
	font-weight: bold;

}
.LoginBox input{
	width: 100%;
	margin-bottom: 20px;

}
.LoginBox input[type="text"] , input[type="password"]{
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	font-size: 16px;
    color: #fff;

}

.LoginBox input[type=submit]{
	border: none;
	outline: none;
	height: 40px;
	background: #fb2525;
	color: #fff
	font-size : 18px;
    border-radius: 20px
}
.LoginBox input[type=submit]:hover{
	cursor: pointer;
	background: #ffc107;
	color: #000;

}
.LoginBox a{
	text-decoration: none;
	font-size: 12px;
	line-height: 20px;
	color: darkgrey;


}

.LoginBox a:hover{
	color: #ffc107;
}
